<html lang="uk">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Декларація — шаблон (A4)</title>
<style>
  /* A4 page */
  @page { size: A4; margin: 20mm; }
  html,body { margin:0; padding:0; }
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px;
    color: #111;
    -webkit-print-color-adjust: exact;
  }
  .page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm 12mm;
    box-sizing: border-box;
    
  }

  header { display:flex; justify-content:space-between; align-items:flex-start; margin-bottom:8px; }
  header .left { font-weight:700; }
  header .right { text-align:left; font-size:11px; }

  h5 { font-size:11px; margin:-6px 0 -2px 0; text-align:center; font-weight: normal; }
  h6 { font-size:12px; margin:-2px 0 -2px 0; text-align:center; }

  .header-text {
    font-family: 'Times New Roman', Times, serif;
    font-size:11px;
    font-weight: 300;
    padding:2px 4px;
  }
  .header-border {
    border: 1px solid #000;
    display: inline-block;
    padding:2px 4px;
  }
  .text-center { text-align:center; }
  .text-left { text-align:left; }
  .text-big { font-size:16px; font-weight:bold; }
  .text-small { font-size:10px !important; }
  .font-caption {
    font-size: 11px;
    font-weight: bold;
  }

  .table-main {
    width: 100%;
    border-collapse: collapse; 
    vertical-align: middle;
    margin-top:4px; margin-bottom:8px
  }
  .table-main td {
    font-size: 11px;
    padding: 2px 8px;
    border: 1px solid black;
  }
  .borderred {
    border: 2px solid black !important;
  }
  .table-first-cell {
    width: 10px;
    border: 2px solid black !important;
  }
  .table-container {
    padding: 0 !important;
    border: 0;
  }
  .table-inner {
    border-collapse: collapse; 
    width: 100%;
  }
  .table-inner td {
    padding: 0px 10px;
  }
  .table-tiny-cell {
    padding: 0px 4px;
  }
  .col75 {
    width: 75%;
  }
  .col25 {
    width: 25%;
  }
  .col10 {
    width: 10%;
  }
  .col30 {
    width: 30%;
  }
  /* print helpers */
  @media print {
    .no-print { display:none; }
    body { margin:0; }
  }
</style>
</head>
<body>
<div class="page" id="page">
  <header>
    <div class="left">
      <div class="header-text">F0103309</div>
      <div class="header-text header-border" style="min-width: 250px;">Відмітка про одержання <br/> (штамп контролюючого органу)</div>
    </div>
    <div class="right">
      <div class="header-text"> <br/>ЗАТВЕРДЖЕНО<br/>Наказ Міністерства фінансів України<br/>19 червня 2015 року №578  <br/> (у редакції наказу Міністерства фінансів України <br/> від 31 січня 2025 №57)</div>
    </div>
  </header>

  <table class="table-main">
    <tr class="borderred">
      <td class="table-first-cell text-big">1</td>
      <td class="text-center text-big">Податкова декларація<br/>платника єдиного податку — фізичної особи-підприємця<br/><span style="font-size: 11px; font-weight: normal;">у якого податковий (звітний) період квартал ***</span></td>
      <td class="table-container" style="border: 0;" width="30%">
        <table class="table-inner">
          <tr>
            <td class="text-left" style="border-top: 0; border-left: 0;"> 01</td>
            <td style="border-top: 0;">{{HZ}}</td>
            <td style="border-top: 0;">Звітна</td>
          </tr>
           <tr>
            <td class="text-left" style="border-left: 0;"> 02</td>
            <td>{{HZN}}</td>
            <td>Звітна нова</td>
          </tr>
          <tr>
            <td class="text-left" style="border-left: 0;"> 03</td>
            <td>{{HZU}}</td>
            <td>Уточнююча</td>
          </tr>
          <tr>
            <td class="text-left" style="border-bottom: 0; border-left: 0;"> 04</td>
            <td style="border-bottom: 0;">{{HD}}</td>
            <td style="border-bottom: 0;">Довідково*</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="table-main">
    <tr class="borderred">
      <td class="table-first-cell text-big">2</td>
      <td class="text-left">
        Податковий (звітний) період:
        <table class="table-inner" style="padding:0 2px; margin-top:4px; width:95%; margin-left:auto; margin-right:auto">
          <tr>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{H1KV}}</td>
            <td class="table-tiny-cell borderred"> І квартал</td>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{HHY}}</td>
            <td class="table-tiny-cell borderred"> півріччя</td>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{H3KV}}</td>
            <td class="table-tiny-cell borderred"> три квартали</td>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{HY}}</td>
            <td class="table-tiny-cell borderred"> рік</td>
            <td class="borderred" style="min-width: 40px;"> {{HZM}}</td>
            <td class="" style="width: 10px; border: 0;"> &nbsp;</td>
            <td class="" style="width: 20px;"> {{HZY}}</td>
            <td class="" style="border: 0;"> року</td>
          </tr>
          <tr>
            <td style="border: 0;" class="text-small" colspan="8">(необхідне позначити)</td>
            <td style="border: 0;" class="text-small" colspan="4">(місяць)**</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table class="table-main">
    <tr class="borderred">
      <td class="table-first-cell text-big">3</td>
      <td class="text-left">
        Податковий (звітний) період, який уточнюється
        <table class="table-inner" style="padding:0 2px; margin-top:4px; width:95%; margin-left:auto; margin-right:auto">
          <tr>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{H1KVP}}</td>
            <td class="table-tiny-cell borderred"> І квартал</td>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{HHYP}}</td>
            <td class="table-tiny-cell borderred"> півріччя</td>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{H3KVP}}</td>
            <td class="table-tiny-cell borderred"> три квартали</td>
            <td class="table-tiny-cell borderred" style="min-width: 10px;"> {{HYP}}</td>
            <td class="table-tiny-cell borderred"> рік</td>
            <td class="" style="min-width: 40px; border: 0;"> &nbsp;</td>
            <td class="" style="width: 10px; border: 0;"> &nbsp;</td>
            <td class="" style="width: 20px;"> {{HZYP}}</td>
            <td class="" style="border: 0;"> року</td>
          </tr>
          <tr>
            <td style="border: 0;" class="text-small" colspan="8">(необхідне позначити)</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table class="table-main">
    <tr class="borderred">
      <td class="table-first-cell text-big">4</td>
      <td> {{HSTI}}</td>
    </tr>
  </table>
  <h5>
    (найменування контролюючого органу, до якого подається звітність)
  </h5>

  <table class="table-main borderred">
    <tr>
      <td class="table-first-cell text-big" rowspan="2">5</td>
      <td class="borderred" rowspan="2" width="25%" class="">Платник податку</td>
      <td class="text-center"> {{HNAME}}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
  <h5>
    (прізвище (за наявності), ім’я, по батькові (за наявності) платника податків згідно з реєстраційними документами)
  </h5>
  <table class="table-main borderred">
    <tr>
      <td class="table-first-cell text-big" rowspan="4">6</td>
      <td class="borderred" rowspan="3" width="25%" style="border-bottom-width: 1px !important">Податкова адреса</td>
      <td colspan="3" class="text-center">{{HLOC}}</td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" class="text-small text-center">(податкова адреса (місце проживання) платника податку)</td>
    </tr>
    <tr>
      <td class="borderred" style="border-top-width: 1px !important">Адреса електронної пошти</td>
      <td class="text-center"> {{HEMAIL}}</td>
      <td class="">Номер телефону</td>
      <td class="text-center"> {{HTEL}}</td> 
    </tr>
  </table>
  
  <table class="table-main">
    <tr>
      <td style="padding: 8px 8px;" class="table-first-cell text-big">7</td>
      <td class="borderred"> Реєстраційний номер облікової картки платника податків або серія (за наявності) та номер паспорта</td>
      <td style="border: 0; max-width: 5px;">&nbsp;</td>
      <td width="100" class="borderred text-center"> {{HTIN}}</td>
    </tr>
  </table>

  <table class="table-main borderred">
    <tr>
      <td class="table-first-cell text-big" rowspan="3">8</td>
      <td class="" colspan="3"> Особливі відмітки</td>
    </tr>
    <tr>
      <td class="borderred">8.1</td>
      <td style="min-width: 7px;">{{M081}}</td>
      <td class="">платника податку, що подає цю податкову декларацію за останній податковий (звітний) період, на який припадає дата державної реєстрації припинення</td>
    </tr>
    <tr>
      <td class="borderred">8.2</td>
      <td class="">{{M082}}</td>
      <td class="">платника податку, що подає цю податкову декларацію за останній податковий (звітний) період, в якому здійснено перехід на сплату інших податків та зборів</td>
    </tr>
  </table>

  <h6 class="font-caption">
    I. Загальні показники підприємницької діяльності
  </h6>

  <table class="table-main borderred">
    <tr>
      <td class="table-first-cell text-big">9</td>
      <td class="borderred" colspan="2">Фактична чисельність найманих працівників у звітному періоді (осіб)</td>
      <td class="borderred text-center" style="width: 15%;">{{HNACTL}}</td>
    </tr>
    <tr>
      <td class="table-first-cell text-big" rowspan="2">10</td>
      <td class="" colspan="3">Вид підприємницької діяльності у звітному періоді:</td>
    </tr>
    <tr class="" style="border-bottom: 2px solid black !important;">
      <td class=" text-center" style="width: 20%;">Код виду економічної діяльності (КВЕД)</td>
      <td class=" text-center" colspan="2">Назва згідно з кодом виду економічної діяльності (КВЕД)</td>
    </tr>
    <tr>
      <td>{{KVEDN1}}&nbsp;</td>
      <td class=" text-center"> {{T1R001G1S}}</td>
      <td class=" text-center" colspan="2"> {{T1R001G2S}}</td>
    </tr>
    <tr>
      <td>{{KVEDN2}}&nbsp;</td>
      <td class=" text-center"> {{T1R002G1S}}</td>
      <td class=" text-center" colspan="2"> {{T1R002G2S}}</td>
    </tr>
  </table>

  <h6 class="font-caption">
    II. Показники господарської діяльності для платників єдиного податку першої групи
  </h6>

  <table class="table-main borderred">
    <tr>
      <td colspan="5" class="borderred text-center">
        Щомісячні авансові внески єдиного податку, (грн, коп)
      </td>
    </tr>
    <tr>
      <td class="borderred text-center col25">I квартал</td>
      <td class="borderred text-center col25">II квартал</td>
      <td class="borderred text-center col25">III квартал</td>
      <td class="borderred text-center" colspan="2">IV квартал</td>
    </tr>
    <tr>
      <td class="borderred text-center col25">{{R02G1}}&nbsp;</td>
      <td class="borderred text-center col25">{{R02G2}}&nbsp;</td>
      <td class="borderred text-center col25">{{R02G3}}&nbsp;</td>
      <td class="borderred text-center" colspan="2">{{R02G4}}&nbsp;</td>
    </tr>
    <tr class="borderred">
      <td class=" text-center col75" colspan="3">Назва показника</td>
      <td class=" text-center col10">Код рядка</td>
      <td class=" text-center">Обсяг (грн, коп)</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Обсяг доходу за звітний (податковий) період відповідно до статті 292 глави 1 розділу XIV Податкового кодексу України (згідно з підпунктом 1 пункту 291.4 статті 291 глави 1 XIV Податкового кодексу України)</td>
      <td class=" text-center text-big">01</td>
      <td class=" text-center">{{R001G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Обсяг доходу, що оподаткований за ставкою 15 відсотків (згідно з пунктом 293.4 статті 293 глави 1 розділу XIV Податкового кодексу України), у звітному (податковому) періоді</td>
      <td class=" text-center text-big">02</td>
      <td class=" text-center">{{R002G3}}</td>
    </tr>
  </table>
  <h6 class="font-caption">
    III. Показники господарської діяльності для платників єдиного податку другої групи
  </h6>
  <table class="table-main borderred">
    <tr>
      <td colspan="5" class="borderred text-center">
        Щомісячні авансові внески єдиного податку, (грн, коп)
      </td>
    </tr>
    <tr>
      <td class="borderred text-center col25">I квартал</td>
      <td class="borderred text-center col25">II квартал</td>
      <td class="borderred text-center col25">III квартал</td>
      <td class="borderred text-center" colspan="2">IV квартал</td>
    </tr>
    <tr>
      <td class="borderred text-center col25">{{R03G1}}&nbsp;</td>
      <td class="borderred text-center col25">{{R03G2}}&nbsp;</td>
      <td class="borderred text-center col25">{{R03G3}}&nbsp;</td>
      <td class="borderred text-center" colspan="2">{{R03G4}}&nbsp;</td>
    </tr>
    <tr class="borderred">
      <td class=" text-center col75" colspan="3">Назва показника</td>
      <td class=" text-center col10">Код рядка</td>
      <td class=" text-center">Обсяг (грн, коп)</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Обсяг доходу за звітний (податковий) період відповідно до статті 292 глави 1 розділу XIV Податкового кодексу України (згідно з підпунктом 1 пункту 291.4 статті 291 глави 1 XIV Податкового кодексу України)</td>
      <td class=" text-center text-big">03</td>
      <td class=" text-center">{{R003G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Обсяг доходу, що оподаткований за ставкою 15 відсотків (згідно з пунктом 293.4 статті 293 глави 1 розділу XIV Податкового кодексу України), у звітному (податковому) періоді</td>
      <td class=" text-center text-big">04</td>
      <td class=" text-center">{{R004G3}}</td>
    </tr>
  </table>
  <h6 class="font-caption">
    IV. Показники господарської діяльності для платників єдиного податку третьої групи
  </h6>
  <table class="table-main borderred">
    <tr class="borderred">
      <td class=" text-center col75" colspan="3">Назва показника</td>
      <td class=" text-center col10">Код рядка</td>
      <td class=" text-center">Обсяг (грн, коп)</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Обсяг доходу за звітний (податковий) період, що оподатковується за ставкою 3 %</td>
      <td class=" text-center text-big">05</td>
      <td class=" text-center">{{R005G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Обсяг доходу за звітний (податковий) період, що оподатковується за ставкою 5 %</td>
      <td class=" text-center text-big">06</td>
      <td class=" text-center">{{R006G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Обсяг доходу, що оподаткований за ставкою 15 відсотків (згідно з пунктом 293.4 статті 293 глави 1 розділу XIV Податкового кодексу України), у звітному (податковому) періоді</td>
      <td class=" text-center text-big">07</td>
      <td class=" text-center">{{R007G3}}</td>
    </tr>
  </table>
  <h6 class="font-caption">
    V. Визначення податкових зобов'язань по єдиному податку
  </h6>
  <table class="table-main borderred">
    <tr class="borderred">
      <td class=" text-center col75" colspan="3">Назва показника</td>
      <td class=" text-center col10">Код рядка</td>
      <td class=" text-center">Обсяг (грн, коп)</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Загальна сума доходу за звітний (податковий) період (сума значень рядків 01 + 02 + 03 + 04 + 05 + 06 + 07)</td>
      <td class=" text-center text-big">08</td>
      <td class=" text-center">{{R008G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума податку за ставкою 15 % ((рядок 02 + рядок 04 + рядок 07) × 15 %)</td>
      <td class=" text-center text-big">09</td>
      <td class=" text-center">{{R009G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума податку за ставкою 3 % (рядок 05 × 3 %)</td>
      <td class=" text-center text-big">10</td>
      <td class=" text-center">{{R010G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума податку за ставкою 5 % (рядок 06 × 5 %)</td>
      <td class=" text-center text-big">11</td>
      <td class=" text-center">{{R011G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Нараховано всього за звітний (податковий) період (рядок 9 + рядок 10 + рядок 11)</td>
      <td class=" text-center text-big">12</td>
      <td class=" text-center">{{R012G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Нараховано за попередній звітний (податковий) період (значення рядка 12 декларації попереднього звітного (податкового) періоду)</td>
      <td class=" text-center text-big">13</td>
      <td class=" text-center">{{R013G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума єдиного податку, яка підлягає нарахуванню та сплаті в бюджет за підсумками поточного звітного (податкового) періоду (рядок 12 – рядок 13)</td>
      <td class=" text-center text-big">14.1</td>
      <td class=" text-center">{{R0141G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Позитивне значення різниці між сумою загального мінімального податкового зобов’язання та загальною сумою сплачених податків, зборів, платежів та витрат на оренду земельних ділянок (рядок 04 графи 3 розділу ІІ додатка 2 цієї податкової декларації)</td>
      <td class=" text-center text-big">14.2</td>
      <td class=" text-center">{{R0142G3}}</td>
    </tr>
    <tr class="borderred">
      <td class=" col75 text-big" colspan="3">Загальна сума єдиного податку, яка підлягає нарахуванню та сплаті в бюджет за підсумками поточного звітного (податкового) періоду (рядок 14.1 + рядок 14.2)</td>
      <td class=" text-center text-big">14</td>
      <td class=" text-center text-big">{{R014G3}}</td>
    </tr>
  </table>

  <h6 class="font-caption">
    VI. Визначення податкових зобов'язань по єдиному податку у зв'язку з виправленням самостійно виявлених помилок
  </h6>
  <table class="table-main borderred">
    <tr class="borderred">
      <td class=" text-center col75" colspan="3">Назва показника</td>
      <td class=" text-center col10">Код рядка</td>
      <td class=" text-center">Обсяг (грн, коп)</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума єдиного податку, яка підлягала перерахуванню до бюджету, за даними звітного (податкового) періоду, в якому виявлена помилка (рядок 14 відповідної декларації)</td>
      <td class=" text-center text-big">15</td>
      <td class=" text-center">{{R015G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Уточнена сума податкових зобов’язань єдиного податку за звітний (податковий) період, у якому виявлена помилка</td>
      <td class=" text-center text-big">16</td>
      <td class=" text-center">{{R016G3}}</td>
    </tr>
    <tr>
      <td class=" text-center text-big" colspan="5">Розрахунки у зв’язку з виправленням помилки:</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Збільшення суми, яка підлягала перерахуванню до бюджету (рядок 16 – рядок 15, якщо рядок 16 > рядка 15)</td>
      <td class=" text-center text-big">17</td>
      <td class=" text-center">{{R017G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Зменшення суми, яка підлягала перерахуванню до бюджету<br/>(рядок 16 – рядок 15, якщо рядок 16 < рядка 15)</td>
      <td class=" text-center text-big">18</td>
      <td class=" text-center">{{R018G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума штрафу, яка нарахована платником податку самостійно у зв’язку з виправленням помилки, {{R019G1}} %<br/>(рядок 17 × 3 % або 17 × 5 %)</td>
      <td class=" text-center text-big">19</td>
      <td class=" text-center">{{R019G3}}</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума пені, яка нарахована платником податку самостійно відповідно до підпункту 129.1.3 пункту 129.1 статті 129.1 статті 129 глави 12 розділу ІІ Податкового кодексу України</td>
      <td class=" text-center text-big">20</td>
      <td class=" text-center">{{R020G3}}</td>
    </tr>
  </table>

  <h6 class="font-caption">
    VII. Визначення зобов'язань із сплати єдиного внеску за даними звітного (податкового періоду)
  </h6>
  <table class="table-main borderred">
    <tr class="borderred">
      <td class=" text-center col75" colspan="3">Назва показника</td>
      <td class=" text-center col10">Код рядка</td>
      <td class=" text-center">Обсяг (грн, коп)</td>
    </tr>
    <tr>
      <td class=" col75" colspan="3">Сума єдиного внеску, яка підлягає сплаті на небюджетні рахунки, за даними звітного (податкового) періоду (рядок Усього графа 4 розділу 9 додатка 1 цієї податкової декларації)</td>
      <td class=" text-center text-big">21</td>
      <td class=" text-center">{{R021G3}}</td>
    </tr>
  </table>

  <h6 class="font-caption">
    VIII. Визначення податкових зобов'язань по військовому збору
  </h6>
  <hr style="border: 1px solid #000;"/>
  <h6 class="font-caption" style="margin-top: 4px;">
    1. Для платників єдиного податку першої, другої груп
  </h6>

  <table class="table-main borderred" style="margin-top: 2px; margin-bottom: 0;">
    <tr class="borderred">
      <td class=" text-center" colspan="12"><b>Відмітка</b> про щомісячні авансові внески військового збору платників єдиного податку першої, другої груп (необхідне позначити)</td>
    </tr>
    <tr>
      <td class=" text-center text-big">01</td>
      <td class=" text-center text-big">02</td>
      <td class=" text-center text-big">03</td>
      <td class=" text-center text-big">04</td>
      <td class=" text-center text-big">05</td>
      <td class=" text-center text-big">06</td>
      <td class=" text-center text-big">07</td>
      <td class=" text-center text-big">08</td>
      <td class=" text-center text-big">09</td>
      <td class=" text-center text-big">10</td>
      <td class=" text-center text-big">11</td>
      <td class=" text-center text-big">12</td>
    </tr>
    <tr>
      <td class=" text-center">&nbsp;{{R08G1}}</td>
      <td class=" text-center">{{R08G2}}</td>
      <td class=" text-center">{{R08G3}}</td>
      <td class=" text-center">{{R08G4}}</td>
      <td class=" text-center">{{R08G5}}</td>
      <td class=" text-center">{{R08G6}}</td>
      <td class=" text-center">{{R08G7}}</td>
      <td class=" text-center">{{R08G8}}</td>
      <td class=" text-center">{{R08G9}}</td>
      <td class=" text-center">{{R08G10}}</td>
      <td class=" text-center">{{R08G11}}</td>
      <td class=" text-center">{{R08G12}}</td>
    </tr>
  </table>
  <table class="table-main" style="margin-top: 0;">
    <tr class="borderred" style="border-top: 0 !important;">
      <td class=" text-center col75" style=" border-top: 0;">Назва показника</td>
      <td class=" text-center col10" style=" border-top: 0;">Код рядка</td>
      <td class=" text-center" style=" border-top: 0;">Обсяг (грн, коп)</td>
    </tr>
    <tr class="borderred">
      <td class=" col75">Сума військового збору, нарахованого за ставкою <b>10 %</b> розміру мінімальної заробітної плати, встановленої законом на 01 січня податкового (звітного) року, з розрахунку на календарний місяць та сплаченого за період перебування на спрощеній системі оподаткування платником єдиного податку <b>першої, другої</b> груп (мінімальна заробітна плата на 01 січня податкового (звітного) року × 10 % × кількість місяців перебування на першій, другій групах)</td>
      <td class=" text-center text-big">22</td>
      <td class=" text-center">{{R022G3}}</td>
    </tr>
  </table>

  <h6 class="font-caption" style="margin-top: 4px;">
    2. Для платників єдиного податку третьої групи
  </h6>
  <table class="table-main borderred" style="margin-top: 2px;">
    <tr class="borderred">
      <td class=" text-center col75">Назва показника</td>
      <td class=" text-center col10">Код рядка</td>
      <td class=" text-center">Обсяг (грн, коп)</td>
    </tr>
    <tr>
      <td class=" col75">Сума військового збору за ставкою 1 % для платників єдиного податку <b>третьої</b> групи ((рядок 5 + рядок 6 + рядок 7) × 1 %)</td>
      <td class=" text-center text-big">23</td>
      <td class=" text-center">{{R023G3}}</td>
    </tr>
    <tr>
      <td class=" col75">Нараховано військового збору за попередній звітний (податковий) період для платників єдиного податку <b>третьої групи</b> (значення <b>рядка 23</b> декларації <b>попереднього</b> звітного (податкового) періоду)</td>
      <td class=" text-center text-big">24</td>
      <td class=" text-center">{{R024G3}}</td>
    </tr>
    <tr>
      <td class=" col75">Сума військового збору, яка підлягає нарахуванню та сплаті в бюджет за підсумками поточного звітного (податкового) періоду для платників єдиного податку <b>третьої групи</b> (рядок 23 – рядок 24)</td>
      <td class=" text-center text-big">25</td>
      <td class=" text-center">{{R025G3}}</td>
    </tr>
    <tr>
      <td class=" col75">Сума військового збору, яка підлягала перерахуванню до бюджету, за даними <b>раніше поданого</b> звітного (податкового) періоду, в якому виявлена помилка (рядок 25 відповідної декларації)</td>
      <td class=" text-center text-big">26</td>
      <td class=" text-center">{{R026G3}}</td>
    </tr>
    <tr>
      <td class=" col75">Уточнена сума податкових зобов’язань військового збору за звітний (податковий) період, у якому виявлена помилка</td>
      <td class=" text-center text-big">27</td>
      <td class=" text-center">{{R027G3}}</td>
    </tr>
    <tr>
      <td class=" col75">Збільшення суми військового збору, яка підлягала перерахуванню до бюджету<br/>(рядок 27 – рядок 26, якщо рядок 27 > рядка 26)</td>
      <td class=" text-center text-big">28</td>
      <td class=" text-center">{{R028G3}}</td>
    </tr>
    <tr>
      <td class=" col75">Зменшення суми військового збору, яка підлягала перерахуванню до бюджету<br/>(рядок 27 – рядок 26, якщо рядок 27 < рядка 26)</td>
      <td class=" text-center text-big">29</td>
      <td class=" text-center">{{R029G3}}</td>
    </tr>
  </table>

  <table class="table-main">
    <tr>
      <td class="text-center text-big" colspan="2">
        Доповнення до цієї податкової декларації (заповнюється і додається відповідно до пункту 46.4 статті 46 глави 2<br/>
        розділу ІІ Податкового кодексу України) на {{HJAR}} арк.
      </td>
    </tr>
    <tr>
      <td style="width: 15px;" class="text-center text-small">N<br/> п/п</td>
      <td class="text-center">Зміст доповнення</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>{{T2R0001G2S}}</td>
    </tr>
  </table>
  <h5 class="font-caption" style="margin-top: 2px; text-align: left;">
    До цієї податкової декларації додається:
  </h5>
  <table class="table-main borderred">
    <tr>
      <td class="borderred table-first-cell text-big">1</td>
      <td class="borderred text-big">Додаток 1 "Відомості про суми нарахованого доходу застрахованих осіб та суми нарахованого єдиного внеску"</td>
      <td class="borderred text-big col10">{{HD1}}</td>
    </tr>
     <tr>
      <td class="borderred table-first-cell text-big">2</td>
      <td class="borderred text-big">Додаток 2 "Розрахунок загального мінімального податкового зобов’язання за податковий (звітний) рік"</td>
      <td class="borderred text-big">{{HD2}}</td>
    </tr>
  </table>

  <table class="table-main ">
    <tr>
      <td style="padding-top: 8px;">
        <table class="table-inner" style="width: 50%;">
          <tr>
            <td style="border: 0; width: 50%;">Дата подання декларації: </td>
            <td class="text-center borderred" style="padding: 8px 10px;"> {{HFILL}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="text-center text-big">Інформація про особу, уповноважену на заповнення декларації</td>
    </tr>
    <tr>
      <td style="padding: 0;">
        <table class="table-inner">
          <tr>
            <td colspan="2" style="border: 0">Прізвище (за наявності) , ім’я, по батькові (за наявності) уповноваженої особи:</td>
            <td colspan="2" class="borderred text-center col30" style="padding: 8px 10px;"> {{HEXECUTOR}}</td>
          </tr>
          <tr>
            <td colspan="4" style="border: 0;">&nbsp;</td>
          </tr>
          <tr>
            <td rowspan="2" style="border: 0;">Реєстраційний номер облікової картки платника податків або серія (за наявності) та номер паспорта</td>
            <td colspan="2" class="borderred text-center col30" style="padding: 8px 10px;"> {{HKEXECUTOR}}</td>
            <td style="border: 0;">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" style="border: 0;">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="border: 0;">
        <table class="table-inner">
          <tr>
            <td style="border: 0;">Фізична особа – платник податку<br/>або уповноважена особа</td>
            <td style="border: 0; border-bottom: 1px solid;" class="col10">&nbsp;</td>
            <td style="border: 0;" class="col10">&nbsp;</td>
            <td style="border: 0; border-bottom: 1px solid;" class="col25 text-center>{{HBOS}}</td>
            <td style="border: 0;">&nbsp;</td>
          </tr>
          <tr>
            <td style="border: 0;">&nbsp;</td>
            <td style="border: 0;" class="col10 text-small text-center">(підпис)</td>
            <td style="border: 0;" class="col10">&nbsp;</td>
            <td style="border: 0;" class="text-center text-small">(власне ім’я та прізвище)</td>
            <td style="border: 0;"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</body>
</html>